.details-container {
  display: "block";
  width: 50%;
  height: 50%;
  margin: 3%;
}

.comments-container {
  display: "block";
  width: 35%;
  height: 35%;
  margin: 3%;
}

.card-container {
  margin-top: 3%;
}
